@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  accent-color: #000;
  --scrollbarBG: #fff3;
  --thumbBG: #c7d2fe22;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #e00;
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
*::-webkit-scrollbar {
  width: 8px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  /* border: 3px solid var(--scrollbarBG); */
}
flex > * {
  min-height: 0;
  min-width: 0;
}
grid > * {
  min-height: 0;
  min-width: 0;
}
*:focus-visible{    
  outline: #818CF833 3px solid;
}
